
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
}
#cssmenu > ul > li { display:inline-block; position: relative;}

#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}

#cssmenu > ul > li > a {
  padding: 5px 5px;
  font-size: 16px;
  text-decoration: none;
  color: #323232;
  position:relative; margin:0px 7px;
}
#cssmenu > ul > li:hover > a,#cssmenu > ul > li.active > a {
  color: #007cc2;
}
#cssmenu > ul > li.active > a:after { position:absolute; bottom:-5px; content:''; background-color:#007cc2; height:2px; width:100%; left:0px;}



/*#cssmenu > ul > li.has-sub > a {
  padding-right: 30px;
}*/
#cssmenu > ul > li.has-sub > a:after {
content: '';
/*margin-left: 3px;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-top: 5px solid #4B7DAA;
*/
margin-left: 4px;
position:relative; top:3px; right:0px;
display: inline-block;
font-weight: 900; content: "\f107";
font-family: 'Font Awesome 5 Pro'; font-weight:normal;
display: inline-block;
}
#cssmenu > ul > li.has-sub:hover > a:after { transform: rotate(180deg);}

body.body_arabic #cssmenu > ul > li.has-sub > a::after {margin-left: 0px;margin-right: 4px;}

#cssmenu > ul > li.has-sub:hover > a:before {
  top: 23px;
  height: 0;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;  background-color:#fff; z-index:999;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;

}
#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu.align-right li:hover > ul {
  left: auto;
  right: 0;
}
#cssmenu li:hover > ul > li {
  height: auto;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu ul ul li a {
  border-bottom: 1px solid rgba(27,27,27,0.1);
  padding: 11px 15px;
  width: 240px;
  font-size: 14px;
  text-decoration: none;
  color: #173F5E ;
  background: #fff;text-align: left;
}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
  border-bottom: 0;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #fff; background-color:#007cc2; 
}
#cssmenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #1B1B1B;
  content: '';
}
#cssmenu.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px;
}
#cssmenu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #1B1B1B;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px;
}
#cssmenu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}
#cssmenu.small-screen {
  width: 100%;
}
#cssmenu.small-screen ul {
  width: 100%;
  display: none;
}
#cssmenu.small-screen.align-center > ul {
  text-align: left;
}
#cssmenu.small-screen ul li {
  width: 100%;
  border-top: 1px solid rgba(120, 120, 120, 0.2);
}
#cssmenu.small-screen ul ul li,
#cssmenu.small-screen li:hover > ul > li {
  height: auto;
}
#cssmenu.small-screen ul li a,
#cssmenu.small-screen ul ul li a {
  width: 100%;
  border-bottom: 0;
}
#cssmenu.small-screen > ul > li {
  float: none;
}
#cssmenu.small-screen ul ul li a {
  padding-left: 25px;
}
#cssmenu.small-screen ul ul ul li a {
  padding-left: 35px;
}
#cssmenu.small-screen ul ul li a {
  color: #1B1B1B;
  background: none;
}
#cssmenu.small-screen ul ul li:hover > a,
#cssmenu.small-screen ul ul li.active > a {
  color: #1B1B1B;
}
#cssmenu.small-screen ul ul,
#cssmenu.small-screen ul ul ul,
#cssmenu.small-screen.align-right ul ul {
  position: relative;
  left: 0;
  width: 100%;
  margin: 0;
  text-align: left;
}
#cssmenu.small-screen > ul > li.has-sub > a:after,
#cssmenu.small-screen > ul > li.has-sub > a:before,
#cssmenu.small-screen ul ul > li.has-sub > a:after,
#cssmenu.small-screen ul ul > li.has-sub > a:before {
  display: none;
}
#cssmenu.small-screen #menu-button {
display: block;
padding: 10px;
color: #1B1B1B;
cursor: pointer;
font-size: 12px;
text-transform: uppercase;
font-weight: 700;
z-index: 99;
position: absolute;
top: -82px;
right:8px;
background: #20283f;
width: 35px;
height: 35px;
}
#cssmenu.small-screen #menu-button:after {
  position: absolute;
  top: 16px;
  right: 10px;
  display: block;
  height: 8px;
  width: 15px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  content: '';
}
#cssmenu.small-screen #menu-button:before {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  height: 2px;
  width: 15px;
  background: #fff;
  content: '';
}
#cssmenu.small-screen #menu-button.menu-opened:after {
  top: 15px;
  border: 0;
  height: 2px;
  width: 17px;
  background: #ffffff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);margin-right:-1px;
}
#cssmenu.small-screen #menu-button.menu-opened:before {
  top: 15px;
  background: #ffffff;
  width: 17px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);margin-right: -1px;
}
#cssmenu.small-screen .submenu-button {
  position: absolute;
  z-index: 99;
  right: 0;
  top: 0;
  display: block;
  border-left: 1px solid rgba(120, 120, 120, 0.2);
  height: 46px;
  width: 46px;
  cursor: pointer;
}
#cssmenu.small-screen .submenu-button.submenu-opened {
  background: #fff;
}
#cssmenu.small-screen ul ul .submenu-button {
  height: 34px;
  width: 34px;
}
#cssmenu.small-screen .submenu-button:after {
  position: absolute;
  top: 22px;
  right: 19px;
  width: 8px;
  height: 2px;
  display: block;
  background: #1B1B1B;
  content: '';
}
#cssmenu.small-screen ul ul .submenu-button:after {
  top: 15px;
  right: 13px;
}
#cssmenu.small-screen .submenu-button.submenu-opened:after {
  background: #1B1B1B;
}
#cssmenu.small-screen .submenu-button:before {
  position: absolute;
  top: 19px;
  right: 22px;
  display: block;
  width: 2px;
  height: 8px;
  background: #1B1B1B;
  content: '';
}
#cssmenu.small-screen ul ul .submenu-button:before {
  top: 12px;
  right: 16px;
}
#cssmenu.small-screen .submenu-button.submenu-opened:before {
  display: none;
}
#cssmenu.small-screen.select-list {
  padding: 5px;
}
.showmob-link{display:none !important;}


.welcome-dashboard #cssmenu > ul > li > a{ text-align: center;font-size: 15px; color:#646464;}
.welcome-dashboard #cssmenu > ul > li > a i{ display:block; padding:0px 0px 15px 0px;}
.welcome-dashboard #cssmenu > ul > li > a:hover{color:#007cc2;}



@media only screen and (min-width:1401px) and (max-width:1500px) {
#cssmenu > ul > li > a {padding: 15px 6px;font-size: 16px;}




}
@media only screen and (min-width:1301px) and (max-width:1400px) {
#cssmenu > ul > li > a {padding: 15px 0px;font-size: 15px;}




}
@media only screen and (min-width:1200px) and (max-width:1300px) {
#cssmenu > ul > li > a {padding:15px 7px;font-size: 14px;}
.head-btn a {
  padding: 8px 10px;}



}
@media only screen and (min-width:992px) and (max-width:1199px) {
#cssmenu > ul > li > a {padding: 12px 0px;font-size: 11px;margin: 0 5px;}
#cssmenu > ul > li:after {height: 20px;top: 8px;}
.head-btn a {
  padding: 8px 12px;}


}
@media only screen and (min-width:768px) and (max-width:991px) {
#cssmenu > ul > li > a {padding: 8px 0px;font-size: 9px;margin: 0px 0px;}
.head-btn a {margin-left: 5px;font-size: 12px;padding: 5px 6px;}


}
@media only screen and (max-width:767px) {
#cssmenu {background: #262626;}
#cssmenu > ul > li > a { padding: 17px 10px;margin: 0px; font-size:14px;}
#cssmenu ul ul {border-top: 0px solid #e9931a;}
.col-md-8.col-lg-8.topbar_bottm {padding-left: 15px;}
#cssmenu.small-screen ul ul li:hover > a, #cssmenu.small-screen ul ul li.active > a {color: #1B1B1B;}
#cssmenu.small-screen > ul {background: #fff;z-index: 99; position:absolute; top: -44px;text-align: left;border: 1px solid #ddd}
#cssmenu > ul > li::after { display:none;}
.showmob-link{display:block !important;}
#cssmenu > ul > li:hover:before {width:100%;left: 0; display:none;}
#cssmenu > ul > li.active > a:after { display:none;}
.banner li {font-size: 16px;}




}